---
layout: page
permalink: /works
title: Meine Projekte
---

<p>
	Die hier präsentierten Projekte sind sämtliche Webseiten die ich zwecks Marketing erstellt habe oder diverse Kleinprojekte an denen Ihr als Besucher
	profitieren könnt. Die meisten Projekte werden im Blog gesondert nochmal vorgestellt und beschrieben.
</p>

<p>
	<i>
		Achtet bei den Projekten auf die Kategorien im Overlay.
	</i>
</p>


{% assign counter = 0 %}
{% for work in site.posts %}
	{% if work.type == "work" %}
		{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}


{% if counter != 0 %}

	<ul class="project-list">

		{% for work in site.posts %}
			{% if work.type == "work" %}
				<li class="project">
					<img src="{% if work.image %}{{ site.baseurl }}{{ work.image }}{% else %}http://placehold.it/800x600{% endif %}" alt="">
					<div class="project-overlay">
						<h3>{{ work.title }}</h3>
						<span>{{ work.categories }}</span>
						<a href="{{ work.url }}" class="button secondary">Details</a>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% else %}
	<p><center><i>Es sind leider noch keine Projekte vorhanden.</i></center></p>
{% endif %}