<section id="about-section">
	<div class="wrapper">
		<article data-aos="fade-up">
			<h2 class="section-title">About Me</h2>
			<p>
				<img src="http://placehold.it/400x400" class="round-img" alt="">
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi beatae harum officia tempora at unde quo atque minus deserunt repellat? Culpa quis incidunt dolor eaque dolorem doloribus, amet modi illo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, soluta dicta eius reprehenderit sunt quis rem qui aliquam ducimus non eligendi illum quisquam. Ducimus assumenda quod corrupti deserunt eum.
			</p>
			<p>
				<a href="/about">Mehr erfahren</a>
			</p>
		</article>
	</div>
</section>