<section id="about-section">
	<div class="wrapper">
		<article>
			<h2 class="section-title">About Me</h2>
			<p>
				<img src="http://placehold.it/400x400" class="round-img" alt="">
			</p>
			<p>
				Mein Name ist Daniel Cunningham, 30 Jahre jung und seit 2003 leidenschaftlicher Webdesigner und nebenbei im Online-Marketing tätig. In diesem Gebiet bin ich ein ungelernter und habe alles Wissen welches ich besitze mir selbst durch das learning-by-doing Verfahren selbst gelehrt. Mit Hilfe der Video-Plattform YouTube und der dort aktiven Webdesignern konnte ich die dort gelehrte Theorie in die Praxis umsetzen und für meine Bedürfnisse optimieren.
			</p>
			<p>
				<a href="/about">Mehr erfahren</a>
			</p>
		</article>
	</div>
</section>