<section id="blog-section">
	<div class="wrapper">
		<article>
			<h2 class="section-title">Meine Posts</h2>

			{% assign work-counter = 0 %}
			{% for work in site.posts %}
				{% if work.type == "post" %}
					{% assign work-counter = work-counter | plus: 1 %}
				{% endif %}
			{% endfor %}


			{% if work-counter != 0 %}

				<ul class="post-list">

					{% for post in site.posts %}
						{% if post.type == "post" %}
						<li class="post">
							<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<span>Geschrieben am {{ post.date | date: "%d.%m.%Y" }} {% if post.categories %}in <u>{{ post.categories }}</u> {% endif %}</span>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<p><center><i>Es sind leider noch keine Posts vorhanden.</i></center></p>
			{% endif %}

			<p>
				<a href="/blog" class="button secondary">Alle Beiträge anzeigen</a>
			</p>
		</article>
	</div>
</section>