<section id="blog-section">
	<div class="wrapper">
		<article data-aos="fade-down">
			<h2 class="section-title">Meine Posts</h2>

			<ul class="post-list">
				<li class="post">
					<h3><a href="/">Dies ist der Titel eines Posts</a></h3>
					<span>Geschrieben am 17.02.2020 in <u>Webdesign</u></span>
				</li>

				<li class="post">
					<h3><a href="/">Dies ist der Titel eines Posts</a></h3>
					<span>Geschrieben am 17.02.2020 in <u>Webdesign</u></span>
				</li>

				<li class="post">
					<h3><a href="/">Dies ist der Titel eines Posts</a></h3>
					<span>Geschrieben am 17.02.2020 in <u>Webdesign</u></span>
				</li>

				<li class="post">
					<h3><a href="/">Dies ist der Titel eines Posts</a></h3>
					<span>Geschrieben am 17.02.2020 in <u>Webdesign</u></span>
				</li>

				<li class="post">
					<h3><a href="/">Dies ist der Titel eines Posts</a></h3>
					<span>Geschrieben am 17.02.2020 in <u>Webdesign</u></span>
				</li>
			</ul>

			<p>
				<a href="/" class="button secondary">Alle Beiträge anzeigen</a>
			</p>
		</article>
	</div>
</section>