<section id="contact-section">
	<div class="wrapper">
		<article data-aos="fade-left">
			<h2 class="section-title">Kontaktiere mich!</h2>
			<p>
				Du hast noch Fragen zur Webseite oder zu meinen Leistungen? Dann Schreibe mir doch einfach eine E-Mail an
			</p>
			<p>
				<a href="mailto:{{ site.data.config.base.email }}">{{ site.data.config.base.email }}</a>
			</p>
			<p>
				Ich werde versuchen deine Anfrage schnellstmöglich zu bearbeiten! Bitte beachte, das eine Bearbeitung bis zu 24 Stunden dauern kann.
				Ich werde mein bestes tun.
			</p>
		</article>
	</div>
</section>