<section id="project-section">
	<div class="wrapper">
		<article>
			<h2 class="section-title">Meine Projekte</h2>

			<ul class="project-list">
				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>

				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>

				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>

				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>

				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>

				<li class="project">
					<img src="http://placehold.it/800x600" alt="">

					<div class="project-overlay">
						<h3>Projekttitel</h3>
						<span>Affiliate Marketing</span>
						<p>
							<a href="/" class="button secondary">Details</a>
						</p>
					</div>
				</li>
			</ul>
			<p>
				<a href="/works" class="button primary">Alle Projekte anzeigen</a>
			</p>
		</article>
	</div>
</section>